
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900;1000&family=Red+Hat+Display:wght@100;200;300;400;500;600;700;800;900;1000&display=swap');

:root {
  --background: #292A2D;
  --foreground: #E3E3E3;
  --font-title: 'Poppins', Arial, Helvetica, sans-serif;
  --font-navbar: 'Red Hat Display', Arial, Helvetica, sans-serif;
  --font-paragraph: 'Red Hat Display', Arial, Helvetica, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #292A2D;
    --foreground: #E3E3E3
  }
}


html {
  font-size: 18px;
}

@media (max-width: 767px) {
  html {
    font-size: 16px;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-paragraph);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1{
  font-family: var(--font-title);
}

h2, h3, h4, h5, h6 {
  font-family: var(--font-paragraph);
  font-weight: bold;
}

.navbar a, .navbar li, .navbar ul {
  font-family: var(--font-navbar);
}

p {
  font-family: var(--font-paragraph);
  font-weight: 600;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}