.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input {
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #292a2d;
  background: #222;
  color: #ededed;
}

.submit {
  background: #292a2d;
  color: #ededed;
  border: none;
  border-radius: 6px;
  padding: 0.7rem;
  font-weight: 600;
  cursor: pointer;
  margin-top: 1rem;
}
