.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.1);
  z-index: 200;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
    background: #c4c4c425;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 2px 30px rgb(0, 0, 0), inset 0 2px 5px rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.041);
  backdrop-filter: blur(10px) saturate(120%);
  padding: 2.5rem 2.5rem 2rem 2.5rem;
  min-width: 400px;
  max-width: 90vw;
  color: #ededed;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}


.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem 1rem;
  background: none;
  border: none;
  color: #ededed;
  font-size: 2rem;
  border-radius: 0 20px 0 20px;
  cursor: pointer;
  &:hover {
    color: black;
    background:  #e3e3e31f;
  }
}

.modal h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
  text-align: center;
}

.modal label {
  font-size: 1.1rem;
  font-weight: 600;
}

.modal input {
  width: 100%;
  padding: 1rem;
  border-radius: 16px;
  border: none;
  margin-bottom: 2rem;
  background: #fff;
  color: #222;
  font-size: 1rem;
  font-weight: 500;
  outline: none;
  //box-shadow: none;

}

.modal button[type='submit'] {
  width: 100%;
  padding: 1rem;
  border-radius: 16px;
  border: none;
  background: #ededed;
  color: #222;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  margin-top: 1rem;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  transition: background 0.2s;
}

.modal button[type='submit']:hover {
  background: #d1d1d1;
}

.modal input, .modal label {
  border-radius: 30px;
}

.modal button[type='submit'] {
  border-radius: 40px;
}

@media only screen and (min-width: 768px) {
  .modal {
    min-width: auto;
    min-height: auto;
    padding: 5rem 5rem 0;
  }

  .modal input, .modal button[type='submit'], .modal label {
    min-width: 600px;
    font-size: 1.2rem;
    font-weight: bold;
  }


  .modal input, .modal button[type='submit']{
   height: 4rem;
   margin-bottom: 3rem;
  }

  .modal h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  
}